<p>This MEMORANDUM OF UNDERSTANDING REGARDING USE OF BIP (“MOU”)
is entered into this {{day}} day of {{month}}, 2012, between New Organizing Institute Education Fund
(“NOIEF”), a District of Columbia non-profit corporation, with its principal place of business at
1133 19th Street, NW, Suite 815, Washington, DC 20036, and 
the user (“Provider”)</p>

<p>WHEREAS, NOIEF is working on collecting, standardizing and sharing a national
database of ballot information so that every voter in the United States can find out online who
and what will be on their ballot on Election Day in November 2012. All the data in BIP will also
be available for downloading by authorized users, including Provider. This project is known as
the Ballot Information Project (“BIP”).</p>

<p>WHEREAS, NOIEF is interested in granting Provider access to the complete BIP
database on certain terms and conditions, and Provider is interested in obtaining access to the
complete BIP data on such terms and conditions;</p>

<p>NOW, THEREFORE, NOIEF and Provider agree as follows:</p>

<p>1.
NOIEF will provide Provider with access to the complete BIP database upon Provider’s
execution of this MOU.
</p>
<p>
2.
Provider may to create its own application and/or interface to BIP (the “Interface”)
provided it complies with the terms and conditions of this MOU.
</p>
<p>
3.
Provider understands and agrees to make its Interface available for use by anybody and
everybody, without charging a fee for such use, but that Provider shall not make the underlying
BIP database available to internet users.

</p>
<p>
4.
Provider understands and agrees that it will not collect any personally identifiable
information about Internet users who access BIP by way of an application and/or interface
developed or made available by Provider, although aggregate level data may be collected. By
way of example, Provider understands that it will not collect the addresses used by end users to
access ballot information.

</p>
<p>
5.
Provider will communicate clearly to end users that the accuracy of the information in
BIP is not guaranteed.

</p>
<p>
6.
Provider may not include any advertising on the results page that an end user views after
obtaining ballot information through BIP.

</p>
<p>
7.
Provider will not use BIP in any manner that has a commercial benefit to Provider.

</p>
<p>
8.
Provider understands and agrees that the foregoing terms and conditions apply to any
third party that uses Provider’s application or interface.
</p>
