<div class="span2"></div></div><div id="mou" class="span8 offset2" style="height:30%;overflow:scroll;border-style:solid"><p>{% include 'mou.html' %}</p></div><div class="span2"></div>
<div class="span12" id='coolwithit'></div>
<div class="span12">
<form action="" method="post">
	<div class="span5"></div><div class="span2">	<span class="label">Agree</span><input type="checkbox" name="yescool"></div><div class="span5"></div>
	<div class="span2">	<span class="label">First Name</span><input type=text name=firstname></div>
	<div class="span10"></div>
	<div class="span2">	<span class="label">Last Name</span><input type=text name=lastname></div>
	<div class="span10"></div>
	<div class="span2">	<span class="label">Username</span><input type=text name=username></div>
	<div class="span10"></div>
	<div class="span2">	<span class="label">Email</span><input type=email name=email></div>
	<div class="span10"></div>
	<div class="span2">	<span class="label">Organization</span><input type=text name=organization></div>
	<div class="span10"></div>
	<div class="span2">	<span class="label">Password</span><input type=password name=password></div>
	<div class="span10"></div>
	<div class="span2">	<span class="label">Repeat Password</span><input type=password name=password2></div>
	<div class="span10"></div>
	<!--	<a id="send" class="btn btn-primary">LOGIN</a>-->
</form>
</div>
